// 기본 색
$primary-color: #373F67;
$secondary-color: #5A85EE;
$tertiary: #719CF7;
$negative: #E11900;
$background: #FFFFFF;

// 컨텐츠 색
$contentPrimary: #000000;
$contentSecondary: #919191;
$contentTertiary: #9DA1B4;