@use "./unit" as *;
@use "./color" as *;
@use "./flexbox" as *;
// 포지션 관련 믹스인

@mixin pos {
  position: absolute;
}

@mixin posLeftTop($l: 0, $t: 0) {
  @include pos;
  top: $t;
  left: $l;
}

@mixin posRightTop($r: 0, $t: 0) {
  @include pos;
  top: $t;
  right: $r;
}

@mixin posCenterX {
  @include pos;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posBottomY {
  @include pos;
  top: 100%;
  transform: translateY(-100%);
}

@mixin posCenterY {
  @include pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter {
  @include pos;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin containerMax($max-width: 1024px) {
  max-width: rem($max-width);
  @include autoMargin;
}

@mixin padding($spacing) {
  @include paddingX($spacing);
  @include paddingY($spacing);
}

@mixin paddingX($spacing) {
  padding-left: rem($spacing);
  padding-right: rem($spacing);
}

@mixin paddingY($spacing) {
  padding-top: rem($spacing);
  padding-bottom: rem($spacing);
}

@mixin padding($spacing) {
  padding: rem($spacing);
}

@mixin marginX($spacing) {
  margin-left: rem($spacing);
  margin-right: rem($spacing);
}

@mixin marginY($spacing) {
  margin-top: rem($spacing);
  margin-bottom: rem($spacing);
}

@mixin margin($spacing) {
  @include marginX($spacing);
  @include marginY($spacing);
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

// 그리드 믹스인
@mixin gridbox(
  $column-count: 12,
  $column-width: 1fr,
  $row-gap: 0,
  $column-gap: 16px
) {
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-template-rows: auto;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

// ratio 믹스인
@mixin ratio($w: 16, $h: 9) {
  aspect-ratio: $w / $h;
}

// 반응형 콘텐츠
@mixin respons($width: max-width, $height: auto) {
  #{$width}: 100%;
  height: $height;
}

@mixin textOver {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin fit($posX: 50%, $posY: 50%, $fit: cover) {
  object-fit: $fit;
  object-position: $posX $posY;
}

// 버튼 믹스인

@mixin button($radius: 8px, $bgc: $primary-color) {
  width: 100%;
  border: 0;
  border-radius: rem($radius);
  background-color: $bgc;
  color: $white;
  font-size: rem(14px);
  margin: rem(24px) 3.75% rem(34px);
}

// @mixin nav {
//   @include navbar;
//   @include navpage;
// }

@mixin navbar {
  width: 100%;
  height: rem(37px);
  @include flexbox($justify: space-between);
  padding: rem(8px) 3.75% rem(24px);
  font-size: rem(10px);
}

@mixin navpage {
  height: rem(88px);
}
