@use "./../utils" as *;

body {
  margin-bottom: 69px;
  position: relative;
}

// 헤더영역
.exchange_header_wrap {
  @include flexbox
  ($justify: space-between, $items:center);
  padding: rem(10px) 6.25%;
  & h3 {
    font-size: rem(20px);
    font-weight: 600;
  }
}

.exchange_wrap_dropbtn {
  @include flexbox;
  & img {
    width: 18px;
    height: 18px;
    margin-left: rem(6px);
  }
}

.exchange_wrap_menubtn {
  & a {
    display: inline-block;
    vertical-align: middle;
  }
}

// 탭 디자인
.tab_wrap {
  @include flexbox($justify: space-between);
  background: $primary-color;
  color: #9DA1B4;
  padding: rem(8px) 3.75%;
  font-size: rem(14px);
  & li:nth-child(2){
    color: $background;
  }
}

.exchange_float_btn {
  position: fixed;
  right: 3.75%;
  bottom: 81px;
  z-index: 3;
}

.exchange_float_img {
  background: url(./../../images/floating/icon_plus.png) no-repeat center;
  width: 52px;
  height: 52px;
  background-color: $primary-color;
  box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 25%);
  border-radius: 50%;
  color: $background;
}

.exchange_float_img:active {
  background: url(./../../images/floating/icon_plus_on.png) no-repeat center;
  background-color: $background;
  position: relative;
  & .exchange_float_btn__list{
    display: block;
    position: absolute;
    bottom: 52px;
    right: 3.75%;
  }
}

.exchange_float_btn__list {
  display: none;
  font-size: rem(14px);
  font-weight: 400;
  & li {
    width: 120px;
    height: 42px;
    background: $primary-color;
    border-radius: 12px;
    border: none;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 4px;
    & img {
      margin-right: 4px;
    }
  }
  & li:last-child{
    margin-bottom: 12px;
  }
}


// 리스트 디자인
.exchange__list_box {
  @include flexbox;
  padding: rem(12px);
  position: relative;
  border-bottom: 1px solid #D3D3D3;
  align-items: center;
}

.exchange__list {
  & dt {
    font-size: rem(14px);
    line-height: 160%;
  }
  & .exchange__list_txt {
    font-size: rem(10px);
    color: #9DA1B4;
    margin-bottom: rem(8px);
  }
  & .exchange_price_wrap {
    display: flex;
    align-items: center;
  }
}

.exchange_price {
  font-size: rem(14px);
  font-weight: 600;
}

.exchange__list_img {
  width: 90px;
  height: 90px;
  background-color: #d3d3d3;
  border-radius: 8px;
  margin-right: rem(12px);
  order: -1;
}

// 좋아요

.exchange_like_wrap {
  @include posRightBottom($r: 12px, $b: 3px);
  & img {
    vertical-align: middle;
  }
}

.exchange_like_txt {
  font-size: rem(11px);
}

// label 정의

.exchange_label_ing {
  display: inline-block;
  padding: rem(4px) rem(6px);
  background: $secondary-color;
  border-radius: 4px;
  font-weight: 400;
  color: $background;
  font-size: rem(10px);
  margin-right: rem(6px);
}

.exchange_label_done {
  padding: rem(4px) rem(6px);
  background: #9DA1B4;
  border-radius: 4px;
  font-weight: 400;
  color: $background;
  font-size: rem(10px);
  margin-right: rem(6px);
}
