@use "./../utils" as *;

body {
  margin-bottom: 69px;
  position: relative;
}

// 헤더영역
.exchange_wrap {
  @include flexbox
  ($justify: space-between);
  padding: rem(10px) 6.25%;
  & h3 {
    font-size: rem(20px);
    font-weight: 600;
  }
}

.exchange_wrap_dropbtn {
  @include flexbox;
  & img {
    width: 18px;
    height: 18px;
    margin-left: rem(6px);
  }
}

.exchange_wrap_menubtn {
  & a {
    vertical-align: middle;
  }
}

// 탭 디자인
.tab_wrap {
  @include flexbox($justify: space-between);
  background: $primary-color;
  color: #9DA1B4;
  padding: rem(8px) 3.75%;
  font-size: rem(14px);
  & li:nth-child(2){
    color: $background;
  }
}

// 플로팅 버튼
.floating__btn {
  width: 52px;
  height: 52px;
  border: none;
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 25%);
  position: fixed;
  right: 3.75%;
  bottom: 81px;
  z-index: 3;
  display: flex;
  align-items :center;
  justify-content: center;
}

.floating__btn:click {
  background: #ff0;
}

// 리스트 디자인
.exchange__list_box {
  @include flexbox;
  padding: rem(12px);
  position: relative;
  border-bottom: 1px solid #D3D3D3;
  align-items: center;
}

.exchange__list {
  & dt {
    font-size: rem(14px);
    line-height: 160%;
  }
  & dd {
    font-size: rem(10px);
    color: #9DA1B4;
    margin-bottom: rem(4px);
  }
  & span {
    display: flex;
    align-items: center;
  }
}

.exchange_label_ing {
  padding: rem(4px) rem(6px);
  background: $secondary-color;
  border-radius: 4px;
  font-weight: 600;
  color: $background;
  font-size: rem(10px);
  margin-right: rem(6px);
}

.exchange_price {
  font-size: rem(14px);
  font-weight: 600;
}

.exchange__list_img {
  width: 90px;
  height: 90px;
  background-color: #d3d3d3;
  border-radius: 8px;
  margin-right: rem(12px);
  order: -1;
}

.exchange_like_wrap {
  @include posRightBottom($r: 12px, $b: 3px);
  & img {
    vertical-align: middle;
  }
}

.exchange_like_txt {
  font-size: rem(11px);
}

.exchange_label_done {
  padding: rem(4px) rem(6px);
  background: #9DA1B4;
  border-radius: 4px;
  font-weight: 600;
  color: $background;
  font-size: rem(10px);
  margin-right: rem(6px);
}