@forward "category";
@forward "exchangeBoard";
@forward "writeboard";
@forward "board";
@forward "exchange";
@forward "togetherboard";
@forward "login2";
@forward "login";
@forward "signUp2";
@forward "signUp3";
@forward "signUp";
@forward "main";
@forward "search";
@forward "profile";
@forward "profilecard";
@forward "profiledetails";
@forward "profileagreement";
@forward "chatLists";
@forward "qnaboard";
@forward "chatLists";
@forward "boardcontent";
@forward "chatscreen";
@forward "writeQnA";
