@use "./../utils" as *;
@use "./../base" as *;

body {
  margin: 0;
}
/* 프로필  */
.user{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
}
.user-profile {
  width: 101px;
  height: 120px;  
  margin-top: 42px;
  display: flex;
  flex-flow: wrap;
  justify-content:center;
  align-items:center;
}
/* 프로필 사진 */
.user-porofile__photo{
  width: 68px;
  height: 66px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px #ccc;
}
/* 프로필 수정 연필모양 */
.user-porofile__edit-link{
  position: relative;
  top: 15px;
  right: 20px;
}
.user-porofile__edit-img{
 background-color: #fff;
 border-radius: 50%;
 box-shadow: 0 4px 4px #ccc; 
 position: absolute;
}
/* 프로필 아이디 */
.user-profile__id{
  margin:0;
  font-size:18px;
}

.user-profile__id-number{
  border: 1px solid;
  border-radius: 40%;
  font-size: 0.1px;
  color: $secondary-color;
  text-align:center;
  padding:0.5px;
  margin-left:6px;
}

.user-profile__status{
  margin: 0;
  font-size:10px;
  color:$contentSecondary;
}
/* 프로필 리스트 */
.user-porofile__list{
 padding: 0;
 display: flex;
 list-style-type: none;
 gap:30px;
}

.user-porofile__list__group{
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.user-porofile__list-img{
display: block;
padding-bottom: 6px;
}

.user-porofile__list-item{
display: block; 
text-decoration-line: none;
color: black;    
font-size: 12px;
font-weight: 700;
}

/* 열정온도  */
.temperature{
padding: 12px;

}
/* 열정온도 제목 */
.temperature{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temperature__text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.temperature__text__title{
font-size: 11px;
}

.temperature__text__img{
  padding-left: 2px;
}

.temperature__status{
  position: relative;
}

.temperature__status__degree{
  color: $secondary-color;
  font-size: 15px;
  position: absolute;
  transform: translate(225px,-2px); 
}

.temperature__status__item__text{
  position: absolute;
  transform: translateX(75px);
  font-size: 10px;
  color: $contentSecondary;
}

.temperature__status__item__img{
  padding-left: 100px;
}

.temperature__progress{
-webkit-appearance: none;
}

.temperature__progress::-webkit-progress-bar {
  background-color: grey;
  border-radius:10px;
  width: 296px; 
  height: 8px;
}

.temperature__progress::-webkit-progress-value {
  background-color: #373F67;
  border-radius:10px;
}
/* 좋아요와 응답률 */
.user-feedback{
  margin: 0;
  padding: 20px 16px;
  display: flex;
  justify-content: space-around;
}

.user-feedback_like{
 width: 103px;
 height: 39px;
}

.user-feedback_like dt{
  font-size: 10px;
  font-weight: 700;
}

.user-feedback_like dd{
  margin: 0;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

.user-feedback_response{
  width: 141px;
  height: 39px;
}

.user-feedback_response dt{
  font-size: 10px;
  font-weight: 700;
}

.user-feedback_response dd{
  margin: 0;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 10px;
}
/* 사용자 활동내역 */
.user-activity__item{
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 15px;
}

.user-activity__text{
  display: block;
  text-decoration-line: none;
  color: #000;
  font-weight: 700;
}

/* 리스트 중 판매상품 border주기 위함 */
.goods , .received{
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-activity__arrow{
  width: 16px;
  height: 16px;
  margin: 20px;
}
/* 매너평가 chaat */
.user-activity__evaluation{
  padding: 14px 60px 14px 10px;
}

.user-activity__review{
  display: flex;
  margin-bottom: 12px;
  margin-bottom: 12px;
}

.user-activity__review__img{
  width: 16px;
  height: 16px;
}

.user-activity__review__number{
  font-weight: 700;
  margin-left: 3px;
}

.user-activity__review__chat{
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary;
  border-radius: 0 5px 5px;
  margin-left: 15px;
  padding:0 7px;
}

.first_chat {
  margin-left: 5px;
}

.user-activity__review__text{
  font-size: 11px;
  font-weight: 700;
}

/* 거래 후기  */
.trader {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.trader__photo__img{
  height: 28px;
  width: 28px;
}

.trader__profile{
  display: flex;
  flex-flow: wrap;
}

.trader__info__more{
  display: block;
  width: 20px;
  height: 20px;
  padding-right:25px;
}
.trader__info{ 
  display: flex;
  flex-flow: column;
  margin-left:9px;
}

.trader__info__name{
  font-size: 10px;
  font-weight: 700;
  text-decoration-line: none;
  color: #000;
  padding-bottom: 2px;
}

.trader__info__history{
  font-size: 10px;
  color:#919191;
  margin:0;
  padding-top: 2px;
}

.trader__info__text{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
}
/* 기타 옵션 리스트 */
.link__list {
  list-style-type: none;
  height: 325px;
  box-sizing: border-box;
  padding: 16px 12px 87px 18px;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.link__list__item{
  text-decoration-line: none;
  color: #000;
  margin-bottom: 18px;
}

/* 로그아웃 아이디 부분 */
.list-logout{
 display: flex;
 justify-content: space-between;
}

.link__list__item-id{
  color: $secondary-color;
}