@use "./../utils" as *;

body {
  margin: 3.75% 0;
}

// header 인풋박스
.search_header_wrap {
  width: 100%;
  padding: rem(8px) 5.3125%;
  margin-bottom: px;
  display: flex;
  flex-direction: row;
  align-items: center;
  & img {
    height: 18px;
    margin-right: rem(12px);
  }
}

.search__input {
  width: 100%;
  margin-right: 5.3125%;
  border: none;
  color: #9DA1B4;
  font-size: rem(14px);
  padding: 6px 12px;
  border-radius: 8px;
  background: #E9E9E9;
}

.search__input:focus {
  outline: none;
}



h3 {
  font-size: rem(14px);
  font-weight: 600;
  margin: rem(8px) 0 rem(12px) 3.75%;
}

// 리스트

.search__list::-webkit-scrollbar {
  display: none;
}

.search__list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
  padding: 0 3.75%;
  & li {
    padding: rem(6px) rem(12px);
    border: 1px solid #9DA1B4;
    border-radius: 20px;
    font-size: rem(10px);
    margin-right: 4px; 
    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}