@use "./../utils" as *;

.main {
  @include flexbox(column);
  align-items: center;
  margin-top: rem(261px);

  &__logo {
    width: rem(84px);
    height: rem(30px);
    margin-bottom: rem(50px);
  }

  &__logoDesc {
    @include flexbox(column);
    align-items: center;
    color: $primary-color
  }

  &__logoTitle {
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: rem(11px);
  }

  &__logoSummary {
    font-size: rem(14px);
  }
}

.bottom {
  @include flexbox(column);
  align-items: center;

  &__line {
    font-size: rem(10px);
    color: $contentSecondary;
    margin-top: rem(24px);

    & a {
      color: $primary-color;
      margin-left: rem(13px);
    }
  }
}
.startBtn {
  border: none;
  border-radius: rem(8px);
  background-color: $primary-color;
  padding: rem(8px) rem(126px);
  color: white;
  font-size: rem(14px);
  font-weight: 700;
  line-height: 140%;
  margin-top: rem(50px);
  margin-bottom: rem(84px);
  margin-left: rem(10px);
  margin-right: rem(10px);
  width: 90%;
}
