<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 글 내용</title>
</head>
<body>
  <header class="boardcontent__header">
    <img src="./../images/board/direction_left.png" alt="뒤로 가기" tabindex="0"/>
    <div>
      <img src="./../images/header/share.png" alt="공유하기" tabindex="0"/>
      <img src="./../images/header/more.png" alt="더보기" tabindex="0"/>
    </div>
  </header>
  <main class="boardcontent">
    <span class="boardcontent__label">📝스터디</span>
    <h2><span class="boardcontent__recruiting">모집중</span> EUID 피그마 스터디 하실분~</h2>
    <p><img src="./../images/board/people_.png" alt="모집조건" />누구나 참여 가능</p>
    <p><img src="./../images/board/fullcalender.png" alt="시간" />오늘</p>
      <p>연남동 거주하시는 분 중에서 이번에 시작하는 멋사플레이스 피그마 스터디 하실분~~~ </p>
      <p>아직 기초라서 조금 능숙한분과 함께 했으면 좋겠습니다. 툴은 figma 사용할 예정입니다.</p>
      <br />
      <p>하다가 어려우면 선범님 강의 결제 예정입니다.</p>
      <p>같이 강의도 나눠서 결제하고 들으면 더 좋을 것 같습니다! ㅎㅎ</p>
      <p>&#42;연남동 스타벅스에서 매주 월요일 진행!</p>

      <p class="boardcontent__bold">참여중인 이웃 <span class="boardcontent__recruiting">1</span>/4</p>
      <div class="boardcontent__profile">
        <div class="boardcontent__picture"></div>
        <div class="boardcontent__info">
          멋사드미 <img src="./../images/board/organizer.png" class="boardcontent__organizer" alt="모임장" /><span class="boardcontent__gray">모임장</span>
          <p class="boardcontent__gray">연남동 인증 4회</p>
        </div>
      </div>

    <button class="writeboard__button" onclick= "location.href='chatscreen.html'">채팅방으로 이동</button>
  </main>
</body>
</html>