<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="wispanh=device-wispanh, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../style/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>엔터이듬 - 카테고리</title>
</head>

<body>
    <header class="categoryHeader">
        <div class="img_area"><img src="./../images/direction_left.png" alt="왼쪽 화살표" class="categoryHeader__left" />
        </div>
        <div class="search__container">
            <i tabindex="0" class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="분야 (이름)로 검색 ( ex. 프론트)" class="categoryHeader__search" />
        </div>
    </header>
    <main class="categoryMain">
        <h2 class="categoryMain__title">관심분야를 선택해주세요!</h2>
        <div class="button__container">
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">프론트엔드</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">백 엔드</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">리액트</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button checked">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">풀스택</span>
                </span>
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">알고리즘</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">프로그래밍</span>
                    <span class="button__subTitle">기초지식</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button checked">
                <span class="button__wrapper">
                    <span class="button__title">디자인</span>
                    <span class="button__subTitle">UI디자인</span>
                </span>
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" class="button checked">
                <span class="button__wrapper">
                    <span class="button__title">디자인</span>
                    <span class="button__subTitle">UX디자인</span>
                </span>
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" class="button checked">
                <span class="button__wrapper">
                    <span class="button__title">디자인</span>
                    <span class="button__subTitle">UI * UX</span>
                </span>
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">데이터</span>
                    <span class="button__subTitle">데이터분석</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">데이터</span>
                    <span class="button__subTitle">통계분석</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
            <button type="button" class="button">
                <span class="button__wrapper">
                    <span class="button__title">데이터</span>
                    <span class="button__subTitle">시각화</span>
                </span>
                <i class="fa-solid fa-plus button__img"></i>
            </button>
        </div>
    </main>
    <footer>
        <button type="button" class="saveBtn">이대로 저장할래요</button>
    </footer>
</body>

</html>