<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>chat</title>
</head>
<body>

  <header class="chat_header_wrap"> 
    <a href=""><img src="./../../images/header/direction.png" alt="스캔" /></a>
    <div class="chat_wrap_title">
      <span>카페인조아</span>
      <span>보통 3일 내 응답</span>
    </div>
    <div class="chat_wrap_menubtn">
      <a href=""><img src="./../../images/header/call.png" alt="알림" /></a>
      <a href=""><img src="./../../images/header/more.png" alt="알림" /></a>
    </div>
  </header> 

  <div class="chat_status_wrap">
    
    <div class="chat_status_box_wrap">
      <div class="chat_status_box"></div>
      <ul class="chat_status_txt">
        <li class="chat_status_co">판매중<span>intel mac 2017</span></li>
        <li>80,000원</li>
      </ul>
    </div>


    <div class="chat_status_btn_wrap">
      <button class="chat_status_btn">
        <img src="./../images/chat/calender.png" alt="" />
        <span>약속 잡기</span>
      </button>

      <button class="chat_status_btn caht_btn_second">
        <img src="./../images/chat/won.png" alt="" />
        <span>송금 하기</span>
      </button>
    </div>

  </div>

  <div class="chat_alert">
    <img src="./../images/chat/money.png" alt="" />
    <span>카페인조아님은 우수판매자예요.</span>
    <span class="chat_alert_light">개인정보유도와 명예훼손 내용은 차단될 수 있어요.</span>
    <a href="">자세히 보기</a>
  </div>

  <div class="chat_date">2023년 2월 21일</div>

  <div class="chat_blue_wrap">
    <span class="chat_blue_time">오후 4:30</span>
    <span class="chat_blue">가격 네고 가능한가요?</span>
  </div>
  <div class="chat_blue_wrap">
    <span class="chat_blue_time">오후 5:32</span>
    <span class="chat_blue">목요일 거래 가능할까요?</span>
  </div>

  <div class="chat_date">2023년 2월 22일</div>

  <div class="chat_blue_wrap">
    <span class="chat_blue_time">오후 9:16</span>
    <span class="chat_blue">판매 안하시나요?ㅠㅠ</span>
  </div>

  <div class="chat_date">2023년 3월 6일</div>

  <div class="chat_gray_wrap">
    <span class="chat_gray">
      죄송해요ㅠㅠ 제가 핸드폰을 바꿔서 지금봤네요ㅠㅠ 팡매는 안됐는데 먼저 연락하신분이 있어서 답장 기다리고 있습니다 ㅠㅠ
    </span>
    <span class="chat_gray_time">오후 7:14</span>
  </div>


  <div class="chat_input">
    <img class="chat_plus" src="./../images/chat/plus.png" alt="더보기" />
    <input type="text" placeholder="메세지 보내기"/>
    <img class="chat_send" src="./../images/chat/send.png" alt="보내기" />
  </div>

</body>
</html>