<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 채팅</title>
</head>
<body>
  <header class="chatscreen__header">
    <img src="./../images/board/direction_left.png" alt="뒤로 가기" tabindex="0"/>
    <p>EUID 피그마 스터디 하실분~ <span class="chatscreen__gray">1</span></p>
    <img src="./../images/board/hamburger.png" alt="목록" tabindex="0"/>
  </header>
  <main class="chatscreen">
    <div class="chatscreen__send">
      <img src="./../images/chatscreen/plus.png" alt="보내기 메뉴" tabindex="0"/>
      <input type="text" class="qnaBoardInput__input" placeholder="메세지 보내기"/>
      <img src="./../images/chatscreen/send.png" alt="전송" tabindex="0"/>
    </div>
  </main>
</body>
</html>