<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 채팅목록</title>
</head>
<body>
  <nav class="nav">
    <ul class="nav__list">
        <li><img src="./../../images/homebar/home.png" alt="홈" /><a class="nav__item" href="">홈</a></li>
        <li><img src="./../../images/homebar/life.png" alt="게시판" /><a class="nav__item" href="">게시판</a></li>
        <li><img src="./../../images/homebar/map.png" alt="내 주변" /><a class="nav__item" href="">내 주변</a></li>
        <li><img src="./../../images/homebar/fullchat.png" alt="채팅" /><a class="nav__item" href="">채팅</a></li>
        <li><img src="./../../images/homebar/my.png" alt="나의 이듬" /><a class="nav__item" href="">나의 이듬</a></li>
    </ul>
  </nav>

  <header class="chatLists_header_wrap"> 
    
    <h3>질문채팅</h3>
    <div class="chatLists_wrap_menubtn">
      <a href=""><img src="./../../images/chatLists/sacn.png" alt="스캔" /></a>
      <a href=""><img src="./../../images/chatLists/alramBell.png" alt="알림" /></a>
    </div>

  </header> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다&#33;</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>멋사와 함께<span class="chatLists__list_txt_small">성산제2동&middot;3일전</span></span>
      <span>디버깅은 해보셨어용&#63;</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>4기네이버<span class="chatLists__list_txt_small">연남동&middot;3일전</span></span>
      <span>네이버 면접준비하려고하는데 너무 어렵네요</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>크크오가즈아<span class="chatLists__list_txt_small">남가좌제1동&middot;3일전</span></span>
      <span>넵&#33; 알려주신대로 해볼게요 너무 긴장되네요 ㅠㅠ</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>EUIDDDD<span class="chatLists__list_txt_small">연희동&middot;3일전</span></span>
      <span>이 부분에서 auto layout할 때</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>피그마마보이<span class="chatLists__list_txt_small">상수동&middot;3일전</span></span>
      <span>그러면 이 부분에서는 이렇게 진행하면 되나요&#63;&#33;</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>카페인조아<span class="chatLists__list_txt_small">연희동&middot;3일전</span></span>
      <span>오늘 저녁에 연희근처에서 오프라인 미팅 할까요&#63;</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>가보자고<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>aria-hidden여기서 하면 이렇게&#63;</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다!</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다!</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다!</span>
    </li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다!</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

  <ul class="chatLists_wrap">
    <li class="chatLists__list_circle"></li>
    <li class="chatLists__list_txt">
      <span>이드미<span class="chatLists__list_txt_small">망원동&middot;3일전</span></span>
      <span>알았습니다!</span>
    </li>
    <li class="chatLists__list_square"></li>
  </ul> 

</body>
</html>