<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>exchangeBoard</title>
</head>

<body>

    <img class="exchangeBoard_img" src="./../images/exchangeBoard/main_img.png" alt=""/>
    <div class="exchangeBoard_profile_wrap">
        <div class="exchangeBoard_profile">
            <span class="exchangeBoard_profile_circle"></span>
            <span class="exchangeBoard_profile_txt">
                 <span>뚜요니</span>
                 <span>신원동</span>
            </span>
        </div>
        <div class="exchangeBoard_manner_wrap">
            <div class="exchangeBoard_manner">
                <span>41.2&#8451;</span>
                <img src="./../images/exchangeBoard/smile.png" alt="" />
            </div>
            <span class="exchangeBoard_manner_txt">매너온도</span>
        </div>
    </div>

    <ul class="exchangeBoard_wirtter">
        <li class="exchangeBoard_wirtter_title">2023 MacBook Air M1</li>
        <li class="exchangeBoard_wirtter_subtitle">컴퓨터 • 17분전</li>
        <li>
            상태 깨끗하고 좋아요</br>
            왜냐하면 맥을 사용할 줄 몰라서 넷플릭스용으로만</br>
            봤어요. 집근처에서 거래 희망합니다.
        </li>
    </ul>

    <ul class="exchangeBoard_like_chat">
        <li>
            <img src="./../images/exchangeBoard/heart.png" alt="" />
        </li>
        <li></li>
        <li class="exchangeBoard_like_chat_txt">
            <span>820,000원</span>
            <span>가격 제안하기</span>
        </li>
        <li class="exchangeBoard_like_chat_label"><a href="">채팅하기</a></li>
    </ul>


</body>

</html>