<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>exchange</title>
</head>
<body>
  <nav class="nav">
    <ul class="nav__list">
        <li><img src="./../../images/homebar/home.png" alt="" /><a class="nav__item" href="">홈</a></li>
        <li><img src="./../../images/homebar/life.png" alt="" /><a class="nav__item" href="">게시판</a></li>
        <li><img src="./../../images/homebar/fullmap.png" alt="" /><a class="nav__item" href="">내 주변</a></li>
        <li><img src="./../../images/homebar/chat.png" alt="" /><a class="nav__item" href="">채팅</a></li>
        <li><img src="./../../images/homebar/my.png" alt="" /><a class="nav__item" href="">나의 이듬</a></li>
    </ul>
  </nav>
  <header> 
    
    <div class="exchange_header_wrap">
      <div class="exchange_wrap_dropbtn">
        <h3>남가좌제2동</h3>
        <a href=""><img src="./../../images/header/direction_bottom.png" alt="" /></a>
      </div>
      <div class="exchange_wrap_menubtn">
        <a href=""><img src="./../../images/header/search.png" alt="검색" /></a>
        <a href=""><img src="./../../images/header/hamburger.png" alt="메뉴" /></a>
        <a href=""><img src="./../../images/header/alramBell.png" alt="알림" /></a>
      </div>
    </div>

    <ul class="tab_wrap">
      <li><a href="/">선배님 스토리</a></li>
      <li><a href="/">기기 거래</a></li>
      <li><a href="/">질의 응답</a></li>
      <li><a href="/">같이 해요</a></li>
    </ul>
  </header>


  <ul class="exchange_float_btn">
    <li class="exchange_float_img">
      <ul class="exchange_float_btn__list">
        <li>
          <img src="./../images/floating/headset.png" alt="" />
          <span>헤드셋</span>
        </li>
        <li>
          <img src="./../images/floating/keyboard.png" alt="" />
          <span>키보드</span>
        </li>
        <li>
          <img src="./../images/floating/mouse.png" alt="" />
          <span>마우스</span>
        </li>
        <li>
          <img src="./../images/floating/computer.png" alt="" />
          <span>컴퓨터</span>
        </li>
        <li>
          <img src="./../images/floating/balloon.png" alt="" />
          <span>기타 등등</span>
        </li>
      </ul>
    </li>
  </ul>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 32분전</dd>
      <dd class="exchange_price_wrap">
        <span class="exchange_label_ing">예약중</span>
        <span class="exchange_price">820,000원</span>
      </dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <a href="/" class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">8</span>
    </a>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">ipad 2세대 애플펜슬</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price_wrap">
        <span class="exchange_label_done">거래 완료</span>
        <span class="exchange_price">50,000원</span>
      </dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 32분전</dd>
      <dd class="exchange_price_wrap">
        <span class="exchange_label_ing">예약중</span>
        <span class="exchange_price">820,000원</span>
      </dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <a href="/" class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">8</span>
    </a>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>

  <div class="exchange__list_box">
    <dl class="exchange__list">
      <dt>
        <a href="/">2022 mac pro</a>
      </dt>
      <dd class="exchange__list_txt">마포구 신수동 • 44분전</dd>
      <dd class="exchange_price">800,000원</dd>
    </dl>
    <div class="exchange__list_img">
      <!-- <img src="./../images/exchange/img01.jpg" alt="" /> -->
    </div>
    <div class="exchange_like_wrap">
       <img src="./../images/exchange/icon/heart.png" alt="" />
       <span class="exchange_like_txt">4</span>
    </div>
  </div>


</body>
</html>