<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>엔터이듬 - 로그인</title>
</head>

<body>
    <header class="loginHeader">
        <img src="./../images/header/direction.png" alt="되돌아가기" />
    </header>
    <main class="loginMain">
        <section class="loginMain__info">
            <span>안녕하세요!</span>
            <h2>휴대폰 번호로 로그인해주세요.</h2>
            <span class="loginMain__infoMore">휴대폰 번호는 안전하게 보관되며 서로에게 공개되지 않아요.</span>
        </section>
        <section class="loginMain__phone">
            <input inputmode="tel" placeholder="휴대폰 번호 ( -없이 숫자만 입력 )" class="loginMain__phoneNumber" />
            <button class="loginMain__phoneSend" onclick= "location.href='login2.html'">인증문자 받기</button>
        </section>
        <section class="loginMain__find">
            <span class="loginMain__findQ">휴대폰 번호가 변경되었나요?</span>
            <a class="loginMain__findEmail">이메일로 계정 찾기</a>
        </section>
    </main>
</body>

</html>