<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>main</title>
</head>

<body>
    <nav class="nav">
        <ul class="nav__list">
            <li><img src="./../../images/homebar/fullhome.png" alt="" /><a class="nav__item" href="">홈</a></li>
            <li><img src="./../../images/homebar/life.png" alt="" /><a class="nav__item" href="">게시판</a></li>
            <li><img src="./../../images/homebar/map.png" alt="" /><a class="nav__item" href="">내 주변</a></li>
            <li><img src="./../../images/homebar/chat.png" alt="" /><a class="nav__item" href="">채팅</a></li>
            <li><img src="./../../images/homebar/my.png" alt="" /><a class="nav__item" href="">나의 이듬</a></li>
        </ul>
    </nav>
    <header>
        <div class="mainHeader">
            <div class="mainHeader__dropBtn">
                <h3>남가좌제2동</h3>
                <a href=""><img src="./../../images/header/direction_bottom.png" alt="더보기" /></a>
            </div>
            <div class="exchange_wrap_menubtn">
                <a href=""><img src="./../../images/header/search.png" alt="검색" /></a>
                <a href=""><img src="./../../images/header/hamburger.png" alt="메뉴" /></a>
                <a href=""><img src="./../../images/header/alramBell.png" alt="알림" /></a>
            </div>
        </div>

        <section class="imgWrap">
            <figure>
                <img src="./../images/main/img.png" alt="뒷모습 두명" class="imgWrap__img" />
            </figure>
            <figcaption class="imgWrap__imgCaption">
                <div class="captionWrap">
                    <span class="imgWrap__imgCaptionTitle">풀리지 않는 버그 속 개발자로 살아남기</span>
                    <a href="" class="imgWrap__imgCationMore">자세히 보기</a>
                </div>
                <span class="imgWrap__imgCaption__order">1
                    <img src="./../images/main/bar.png" alt="" />
                    3</span>
            </figcaption>
        </section>
        <ul class="mainHeader__tap">
            <li><a href="/">선배님 스토리</a></li>
            <li><a href="/">기기 거래</a></li>
            <li><a href="/">질의 응답</a></li>
            <li><a href="/">같이 해요</a></li>
        </ul>
    </header>
    <main class="mainSection">
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">디자인에 대해 하나도 알지 못했던 내가 취업할 수 있었던 이유</dt>
                <dd class="article__category">UIUX<span class="article__writer">1기 수강생 박치열</span></dd>
            </dl>
        </a>
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">영문과 전공생에서 UIUX 디자이너로 취업하기까지</dt>
                    <dd class="article__category">UIUX<span class="article__writer">3기 수강생 김진우</span></dd>
            </dl>
        </a>
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">디자인에 대해 하나도 알지 못했던 내가 취업할 수 있었던 이유</dt>
                <dd class="article__category">UIUX<span class="article__writer">1기 수강생 박치열</span></dd>
            </dl>
        </a>
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">영문과 전공생에서 UIUX 디자이너로 취업하기까지</dt>
                <dd class="article__category">UIUX<span class="article__writer">3기 수강생 김진우</span></dd>
            </dl>
        </a>
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">나는 프론트일까? 백일까? 여전히 모르겠다면 물어봐!</dt>
                <dd class="article__category">UIUX<span class="article__writer">2기 수강생 최혜수</span></dd>
            </dl>
        </a>
        <a href="" class="mainSection__article">
            <img src="" alt="" class="article__img" />
            <dl>
                <dt class="article__title">코딩과 디자인의 그 어딘가 두가지 모두 하고 싶은 욕심쟁이</dt>
                <dd class="article__category">UIUX<span class="article__writer">5기 수강생 염진희</span></dd>
            </dl>
        </a>
    </main>
</body>