<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 프로필 기본정보 수정</title>
</head>
<body>

  <div class="user-details">
    <p class="user-details__text">기본정보</p>
    <a href="" class="user-details__img">
      <img src="../images/profile/close.png" alt="엑스 표시 아이콘" class="user-details__icon__img" />
    </a>
  </div>

  <section class="user-profiledetails">
    <!-- 하는 일 블럭 -->
    <div class="user-job">
      <h4 class="user-job__title">하는 일</h4>
      <button type="button" class="attachment-button">
       <img class="pulsIcon-img" src="../images/profile/plusButton.png" alt="플러스 모양의 아이콘" />
        <span>본인이 <strong>하는 일</strong>을 추가해 보세요</span>
      </button>
    </div>
    <!-- 키워드 블럭 -->
    <div class="uder-keyword">
      <h4 class="user-keyword__title">프로필 키워드</h4>
      <button type="button" class="attachment-button">
        <img class="pulsIcon-img" src="../images/profile/plusButton.png" alt="플러스 모양의 아이콘" />
        <span><strong>프로필 키워드</strong>를 추가해 보세요</span>
      </button>
    </div>
    
    <!-- 성별 블럭 -->
    <div class="user-privacy">
      <h4 class="user-privacy__title">성별</h4>
      <p class="user-privacy__text">정보 공개 시, 내 답변 프로필 카드에 정보가 노출됩니다.</p>
      <div class="privacy-button">
        <button type="button" class="privacy-button__one">
          <img src="../images/profile/Vector.png" alt="자물쇠 모양의 아이콘" class="privacy-button__img" />비공개</button>
        <button type="button" class="privacy-button__two">전체 공개</button>
      </div>
    </div>


    
    <!-- 연령 블럭 -->
    <div class="user-age">
      <h4 class="user-age__title">연령</h4>
      <p class="user-age__text">정보 공개 시, 내 답변 프로필 카드에 정보가 노출됩니다.</p>
      <div class="privacy-button">
        <button type="button" class="privacy-button__two">비공개</button>
        <button type="button" class="privacy-button__one">
        <img src="../images/profile/people.png" alt="사람 모양의 아이콘" class="privacy-button__img"/>전체 공개</button>
      </button>  
      </div>
      </div>
     
      <!-- 회사 블럭-->
    <div class="user-company">
      <h4 class="user-company__title">회사</h4>
      <div class="edit-button">
        <button type="button" class="edit-button__item">
          <img src="../images/profile/search.png" alt="돋보기 모양의 아이콘" />검색하기
        </button>
        <button type="button" class="edit-button__item">
          <img src="../images/profile/pencil2.png" alt="연필 모양의 아이콘"/>직접입력
        </button>
      </div>
    </div>
    
    <!-- 학교 블럭 -->
    <div class="user-school">
      <h4 class="user-school__title">학교</h4>
      <div class="edit-button">
        <button type="button" class="edit-button__item">
          <img src="../images/profile/search.png" alt="돋보기 모양의 아이콘" />검색하기
        </button>
        <button type="button" class="edit-button__item">
          <img src="../images/profile/pencil2.png" alt="연필 모양의 아이콘"/>직접입력
        </button>
      </div>
    </div>
   
    <!-- 자격 블럭 -->
    <div class="user-qualification">
      <h4 class="user-qualification__title">자격</h4>
      <button type="button" class="edit-button__item-one">
        <img src="../images/profile/pencil2.png" alt="연필 모양의 아이콘"/>직접입력
      </button>
    </div>
   
    <!-- 취득자격 블럭 -->
    <div class="user-certification">
      <div class="user-certification__title">
        <span>취득자격</span>
        <img class="user-certification__title__img" src="../images/profile/information.png" alt="알파벳 아이 모양의 아이콘" />
      </div>
        <button type="button" class="user-certification__button">
          <img class="user-certification__button__img" src="../images/profile/detailCard.svg" alt="자격증 모양의 아이콘" />
          <span class="user-certification__button__text1">국가 자격증을 간편하게 등록해보세요!</span>
          <span class="user-certification__button__text2">pc 프로필 설정> 취득 자격 관리에서 등록 가능합니다.</span>
        </button>
    </div>
  </section>
  
  <nav class="nav">
    <ul class="nav__list">
        <li><img src="./../../images/homebar/fullhome.png" alt="홈" /><a class="nav__item" href="">홈</a></li>
        <li><img src="./../../images/homebar/life.png" alt="게시판" /><a class="nav__item" href="">게시판</a></li>
        <li><img src="./../../images/homebar/map.png" alt="내 주변" /><a class="nav__item" href="">내 주변</a></li>
        <li><img src="./../../images/homebar/chat.png" alt="채팅" /><a class="nav__item" href="">채팅</a></li>
        <li><img src="./../../images/homebar/my.png" alt="나의 이듬" /><a class="nav__item" href="">나의 이듬</a></li>
    </ul>
</nav>


</body>
</html>