<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../css/main.css" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>profilecard</title>
</head>
<body>
  <section class="user-profilecard">
    <!-- 프로필 수정  -->
    <div class="user-edit">
      <p class="user-edit__text">프로필수정</p>
      <a href="" class="user-edit__icon__img">
        <img src="../images/profile/close.png" alt="엑스 표시 아이콘" class="user-edit__icon__img" />
      </a>
    </div>
    <div class="profilecard">
      <!-- 프로필카드 제목 -->
      <div class="profilecard__title">
        <h2 class="profilecard__title__text">프로필카드</h2>
        <img class="profilecard__title__img" src="../images/profile/information.png" alt="알파벳 아이 모양의 아이콘" />
      </div>
      <!-- 프로필 카드 아이디 박스 -->
      <div class="profilecard__profile">
        <div class="profilecard__profile__id">
          <h4 class="profilecard__profile__id-name">EUID***</h4>
          <span class="profilecard__profile__id-number">4기</span>
        </div>
        <img class="profilecard__profile__img" src="../images/profile/profilephoto.png" alt="사용자 프로필 사진" />
      </div>
      <!-- 프로필 카드 기본 정보 -->
      <div class="profilecard__basicInfo">
        <div class="basicInfo__title">
          <h4 class="basicInfo__title__text">기본 정보</h4>
          <a href="" class="basicInfo__title__edit">수정하기</a>
        </div>
        <!-- 프로필 사진 블럭 -->
        <dl class="profilecard__infoList">
          <div class="basicInfo__photo">
            <dt class="basicInfo__photo__text">프로필 사진</dt>
            <dd>
              <img src="../images/profile/profilephoto.png" alt="사용자 프로필 사진" class="basicInfo__photo__img" />
            </dd>
          </div>
          <!--기타 기본 정보 리스트  -->
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">이름(별명)</dt>
            <dd class="basicInfo__content__text basicInfo-id">EUID***</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">하는일</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">프로필 키워드</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">성별</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">연령</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">회사</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">학교</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">학교</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
          <div class="basicInfo__content">
            <dt class="basicInfo__content__title">자격</dt>
            <dd class="basicInfo__content__text">미입력</dd>
          </div>
        </dl>
      </div>
      <!-- 추가정보  리스트-->
      <div class="profilecard__add">
        <div class="profilecard__addInfo">
          <div class="addInfo__title">
            <h4 class="addInfo__title__text">추가 정보</h4>
            <a href="" class="addInfo__title__edit">수정하기</a>
          </div>
          <dl class="profilecard__infoList">
            <div class="basicInfo__content">
              <dt class="basicInfo__content__title">소개</dt>
              <dd class="basicInfo__content__text">미입력</dd>
            </div>
            <div class="basicInfo__content">
              <dt class="basicInfo__content__title">연관 링크</dt>
              <dd class="basicInfo__content__text">미입력</dd>
            </div>
            <div class="basicInfo__content">
              <dt class="basicInfo__content__title">활동 분야</dt>
              <dd class="basicInfo__content__text">미입력</dd>
            </div>
            <div class="basicInfo__content last__content">
              <dt class="basicInfo__content__title">업체 정보</dt>
              <dd class="basicInfo__content__text">미입력</dd>
            </div>
          </dl>
        </div>
     </div> 
    </div>
  </section>
</body>

</html>