<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - Q&A</title>
</head>
<body>
  <header class="qna__header">
    <img src="./../images/board/direction_left.png" alt="뒤로가기" tabindex="0"/>
    <div class="qna__title">
      <div class="qna__profile">
        <span class="qna__profile--header"></span>
        <span class="qna__profile--name">Q&A</span>
      </div>
      <span class="qna__participating">
        <img src="./../images/qna/check.png" alt="참여중" />
        참여중</span>
    </div>
  </header>
  <main class="qna__main">

    <nav class="nav">
      <ul class="nav__list">
          <li><img src="./../../images/homebar/home.png" alt="" /><a class="nav__item" href="">홈</a></li>
          <li><img src="./../../images/homebar/fullfile.png" alt="" /><a class="nav__item" href="">게시판</a></li>
          <li><img src="./../../images/homebar/map.png" alt="" /><a class="nav__item" href="">내 주변</a></li>
          <li><img src="./../../images/homebar/chat.png" alt="" /><a class="nav__item" href="">채팅</a></li>
          <li><img src="./../../images/homebar/my.png" alt="" /><a class="nav__item" href="">나의 이듬</a></li>
      </ul>
    </nav>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">JS</span>
        <h3><a href="#">JS에서 함수 선언문과 표현식의 차이를 잘 모르겠어요</a></h3>
        <p class="board__subtitle">
          함수 선언문과 표현식의 차이를 아직 잘 모르겠네요.. 순차실행에서 차이점이 있는건가요
        </p>
        <p>북가좌동 &#8226; 2일 전 </p>
      </div>
    </article>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">UI &#8226; UX</span>
        <h3><a href="#">아니 auto Layout 했는데 왜 이러냐 진짜 정말로</a></h3>
        <p class="board__subtitle">아니 이거 묶으려고 auto Layout 했는데 왜 어그러지는것이야진짜정말로스트레스받아서나개발자못해</p>
        <p>망원동 &#8226; 2일 전 &#8226; 조회 132</p>
        <span class="qna__profile--article"></span>
      </div>
      <p class="board__count">
        <span class="icon__thumbsup" aria-hidden="true"></span>2
        <span class="icon__speech" aria-hidden="true"></span>1
      </p>
    </article>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">HTML</span>
        <h3><a href="#">웹 접근성 적용해서 코드 짜려는데 여기 이거좀 봐주세요</a></h3>
        <p class="board__subtitle">
          aria-hidden 적용하면 보이는 거 안들리는 거 맞죠?제가 맞는거죠?보셨나요?
        </p>
        <p>남가좌제2동 &#8226; 4일 전 &#8226; 조회 19</p>
      </div>
    </article>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">css</span>
        <h3><a href="#">CSS flex 적용했는데 왜 이러는지 모르겠어요</a></h3>
        <p class="board__subtitle">flex justify-content:center 적용했는데 왜 이렇게 삐뚤빼뚤 나오는 것인지 내인생</p>
        <p>성산제3동 &#8226; 7일 전</p>
      </div>
      <p class="board__count">
        <span class="icon__thumbsup" aria-hidden="true"></span>6
        <span class="icon__speech" aria-hidden="true"></span>3
      </p>
    </article>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">UI &#8226; UX</span>
        <h3><a href="#">Figma 하는 중인데 어두운 화면이면 어떻게 해요 이거 어케풀어요</a></h3>
        <p class="board__subtitle">다른 화면 만드는데 어두운 배경이 깔리고 또 다른 화면에서는 동작을 안해요</p>
        <p>북가좌동 &#8226; 2일 전</p>
        <span class="qna__profile--article"></span>
      </div>
      <p class="board__count">
        <span class="icon__thumbsup" aria-hidden="true"></span>1
        <span class="icon__speech" aria-hidden="true"></span>4
      </p>
    </article>

    <article class="board__article">
      <div class="board__left">
        <span class="board__label">UI &#8226; UX</span>
        <h3><a href="#">Figma 하는 중인데 어두운 화면이면 어떻게 해요 이거 어케풀어요</a></h3>
        <p class="board__subtitle">다른 화면 만드는데 어두운 배경이 깔리고 또 다른 화면에서는 동작을 안해요</p>
        <p>북가좌동 &#8226; 2일 전</p>
        <span class="qna__profile--article"></span>
      </div>
      <p class="board__count">
        <span class="icon__thumbsup" aria-hidden="true"></span>1
        <span class="icon__speech" aria-hidden="true"></span>4
      </p>
    </article>

  </main>
</body>
</html>