<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>엔터이듬 - Q&A 내용</title>
</head>

<body>
    <header class="qnaBoardNav">
        <div class="qnaBoardNav__item">
            <img src="./../images/header/direction.png" alt="되돌아가기" onclick= "location.href='board.html'"/>
            <img src="./../images/header/home.png" alt="홈" />
        </div>
        <div class="qnaBoardNav__item">
            <img src="./../images/header/share.png" alt="내보내기" />
            <img src="./../images/header/more.png" alt="더보기" />
        </div>
    </header>
    <main class="qnaBoardMain">
        <span class="qnaBoardMain__tag">Q&A</span>
        <div class="qnaBoard__profile">
            <dl class="qnaBoard__user">
                <dt class="a11yHidden">유저 프로필 사진</dt>
                <dd>
                    <img src="" alt="프로필사진" class="qnaBoard__userProfile"/>
                </dd>
            </dl>
            <dl>
                <dt class="qnaBoard__userName">라옹</dt>
                <dd class="qnaBoard__userInfo">
                    <span>연희동 인증 26회<time datetime="2023-06-27">2시간 전</time></span>
                </dd>
            </dl>
        </div>
        <article class="qnaBoardContent">
            <h2 class="qnaBoardContent__title"><span>Q. </span>혹시 홍대나 연희동 주변에 프론트 스터디 하는 분</h2>
            <p>
                계신가요? 있으면 참가하고 싶어서요!
            </p>
            <img src="" alt="프로필사진" class="qnaBoardContent__img"/>
        </article>
        <section class="qnaBoardInput">
            <img src="./../images/comment/photo.svg" alt="사진" />
            <img src="./../images/searchActicities/map.png" alt="위치" />
            <input type="text" placeholder="댓글을 입력해주세요." class="qnaBoardInput__input"/>
        </section>
        <section class="qnaBoardAd">
            <div class="qnaBoardAd__wrap">
                <img src="./../images/comment/flag.svg" alt="깃발" aria-hidden="true"/>
                <span class="qnaBoardAd__title">5개의 친구질문 글에 댓글 남기기</span>
            </div>
            <span class="qnaBoardAd__detail">미션 완료시 '우수답변가' 배지를 받아요</span>
            <div class="qnaBoardAd__bar">
                <img src="./../images/comment/bar_1.svg" alt="진행률 10%완료" />
                <img src="./../images/comment/bar.svg" alt="진행 상황" aria-hidden="true"/>
                <img src="./../images/comment/bar.svg" alt="진행 상황" aria-hidden="true"/>
                <img src="./../images/comment/bar.svg" alt="진행 상황" aria-hidden="true"/>
                <img src="./../images/comment/bar.svg" alt="진행 상황" aria-hidden="true"/>
            </div>
            <img class="qnaBoardAd__medal" src="./../images/comment/medal.png" alt="메달" />
        </section>
        <section class="qnaBoardComment">
            <span>아직 댓글이 없어요.</span>
            <span>가장 먼저 댓글을 남겨보세요.</span>
        </section>
    </main>

</body>