<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>search</title>
</head>

<body>

    <header class="search_header_wrap">
        <img src="./../images/header/direction.png" alt="" />
        <input class="search__input" type="text" placeholder="창천동 근처에서 검색" />
    </header>

    <h3 class="search__title">친구들이 많이 찾고 있어요!</h3>
    <ul class="search__list">
        <li><a href="">노트북</a></li>
        <li><a href="">노트북 거치대</a></li>
        <li><a href="">키보드</a></li>
        <li><a href="">마우스</a></li>
        <li><a href="">헤드셋</a></li>
        <li><a href="">버티컬 마우스</a></li>
        <li><a href="">모니터</a></li>
        <li><a href="">스피커</a></li>
        <li><a href="">데스크탑</a></li>
        <li><a href="">데스이어폰크탑</a></li>
    </ul>

</body>

</html>