<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="엔터이듬(EnterEUID)" />
    <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
    <meta name="author" content="EUID-17" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../style/index.css" />
    <meta property="og:title" content="엔터이듬(EnterEUID)" />
    <meta property="og:description" content="당신 곁의 엔터이듬 마켓" />
    <meta property="og:image" content="./../src/images/og-image.png" />
    <meta property="og:image:alt" content="엔터이듬 로고" />
    <title>엔터이듬 - 회원가입 인증문자</title>
</head>

<body>
    <header class="signUp3Header">
        <img src="./../images/header/direction.png" alt="되돌아가기" />
    </header>
    <main class="signUp3Main">
        <section class="signUp3Main__phone">
            <input inputmode="tel" placeholder="휴대폰 번호(-없이 숫자만 입력)" class="signUp3Main__phoneNumber" />
            <button class="signUp3Main__phoneSend" >
                인증문자 다시 받기
                <span>(04분 57초)</span>
            </button>
            <input inputmode="tel" placeholder="인증번호 입력" class="signUp3Main__phoneCheck"/>
        </section>
        <section class="signUp3Main__start">
            <span class="signUp3Main__startWarn">어떤 경우에도 타인에게 공유하지마세요!</span>
            <button class="signUp3Main__startBtn">동의하고 시작하기</button>
            <a href="" class="signUp3Main__startNo">인증번호가 오지 않아요?</a>
        </section>
    </main>
</body>

</html>