<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 같이해요</title>
</head>
<body>
  <nav class="nav">
    <ul class="nav__list">
        <li><img src="./../../images/homebar/home.png" alt="" /><a class="nav__item" href="">홈</a></li>
        <li><img src="./../../images/homebar/life.png" alt="" /><a class="nav__item" href="">게시판</a></li>
        <li><img src="./../../images/homebar/map.png" alt="" /><a class="nav__item" href="">내 주변</a></li>
        <li><img src="./../../images/homebar/chat.png" alt="" /><a class="nav__item" href="">채팅</a></li>
        <li><img src="./../../images/homebar/my.png" alt="" /><a class="nav__item" href="">나의 이듬</a></li>
    </ul>
  </nav>
  <header>
    <div class="together__title">
      <img src="./../images/header/direction.png" alt="뒤로가기" />
      <h2 class="together__title">같이해요</h2>
    </div>
    <div class="together__category">
      <figure>
        <img src="./../images/board/01.png" alt="" />
        <figcaption>전체</figcaption>
      </figure>
      <figure>
        <img src="./../images/board/02.png" alt="스터디" />
        <figcaption>스터디</figcaption>
      </figure>
      <figure>
        <img src="./../images/board/03.png" alt="프로젝트" />
        <figcaption>프로젝트</figcaption>
      </figure>
      <figure>
        <img src="./../images/board/04.png" alt="오프라인" />
        <figcaption>오프라인</figcaption>
      </figure>
      <figure>
        <img src="./../images/board/05.png" alt="공모전" />
        <figcaption>공모전</figcaption>
      </figure>
    </div>
  </header>
  <div class="sort">
    <button>최근 작성 순</button>
    <button>모집 중인 글만</button>
  </div>
  <main>
    <article>
      <p>모집중 &#8226; 스터디 &#8226; 연남동</p>
      <h3>멋사플레이스 클론 스터디 하실분</h3>
      <p><span></span> 누구나 참여 가능 </p>
      <p><span></span> 오늘, 오후 7:00</p>
      <p><span></span> 1/4명</p>
      <p> 35분 전</p>
    </article>
  </main>
</body>
</html>