<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 글 작성</title>
</head>
<body>
  <header class="writeboard__header">
    <img src="./../images/board/direction_left.png" alt="뒤로 가기" tabindex="0"/>
  </header>
  <main class="writeboard3">
    <h2>어떤 학생과 함께 할까요?</h2>
    <ul>
      <li><div><img src="./../images/withWho/sex.png" alt="성별" />성별</div><div>누구나</div></li>

      <li class="noflex">
        <p class="writeboard__warning">누구나 또는 같은 성별 모임으로 설정해주세요.</p>
        <button class="subject__button">누구나</button>
        <button class="subject__button">여자만</button>
        <button class="subject__button">남자만</button>
      </li>

      <li><div><img src="./../images/withWho/people.png" alt="나이" />나이</div><div tabindex="0">누구나</div></li>
      <li><div><img src="./../images/withWho/password.png" alt="가입조건" />승인 후 참여</div>
        <div><img src="./../images/board/toggle.png" alt="켜기,끄기" tabindex="0"/></div>
      </li>
    </ul>

    <button class="writeboard__button">일정 만들기</button>
  </main>
</body>
</html>