<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="엔터이듬(EnterEUID)" />
  <meta name="keywords" content="멋사,이듬,EUID,마켓,프론트" />
  <meta name="author" content="EUID-17"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./../src/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./../style/index.css" />
  <meta property="og:title" content="엔터이듬(EnterEUID)"/>
  <meta property="og:description" content="당신 곁의 엔터이듬 마켓"/>
  <meta property="og:image" content="./../src/images/og-image.png"/>
  <meta property="og:image:alt" content="엔터이듬 로고"/>
  <title>엔터이듬 - 글 작성</title>
</head>
<body>
  <header class="writeboard__header">
    <img src="./../images/board/direction_left.png" alt="" tabindex="0"/>
  </header>
  <main>
    <div class="writeboard">
      <input type="text" class="writeboard__input" placeholder="이웃과 어떤 활동을 할까요"/>
      <p class="writeboard__popular">남가좌제2동 근처 인기활동</p>
      <div class="writeboard__activities">
        <button class="subject__button">💻 같이 프로젝트해요</button>
        <button class="subject__button">📝 같이 스터디해요</button>
        <button class="subject__button">🍚 같이 밥먹어요</button>
        <button class="subject__button">⌨️ 같이 Lv2.알고리즘 풀어요</button>
        <button class="subject__button">🙈 오프라인으로 만나요</button>
      </div>
    </div>
    <button class="writeboard__button" onclick= "location.href='writeboard2.html'">다음</button>
  </main>
</body>
</html>