@use "./../utils" as *;

.nav__list {
  @include navbar;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    & img {
      width: 20px;
      height: 20px;
    }
  }
}

.nav__item {
  display: block;
}
