/* Error: Undefined variable.
 *    ,
 * 26 |   background-color: $contentSecondary;
 *    |                     ^^^^^^^^^^^^^^^^^
 *    '
 *   src\scss\pages\_profilecard.scss 26:21  @forward
 *   src\scss\pages\_index.scss 17:1         @use
 *   src\scss\index.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502    background-color: $contentSecondary;\d\a    \2502                      ^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\scss\\pages\\_profilecard.scss 26:21  @forward\a   src\\scss\\pages\\_index.scss 17:1         @use\a   src\\scss\\index.scss 3:1                 root stylesheet";
}
