<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../profile/profile.css" />
</head>
<body>
<section class="user">
  
    <div class="user-profile">
      <img src="../../images/profile/profilephoto.png" class="user-porofile__photo" alt="사용자 프로필 사진" />
      <a href="" class="user-porofile__edit-link" >
        <img src="../../images/profile/pencil2.png" class="user-porofile__edit-img" alt="연필 모양의 수정 링크" />
      </a>
        <h2 class="user-profile__id">EUID***<span class="user-profile__id-number">4기</span></h2>
        <p class="user-profile__status">답변35</p>
    </div>
  
      <ul class="user-porofile__list">
        <li><img src="../../images/profile/Q&A.png" alt="Q&A" /><a href="">나의 Q&A</a></li>
        <li><img src="../../images/profile/profile.png" alt="" /><a href="">나의 프로필</a></li>
        <li><img src="../../images/profile/alramBell.png" alt="" /><a href="">내소식</a></li>
      </ul>
</section>
  
  <div>
    <div>
      <p>열정온도</p>
      <img src="../../images/profile/information.png" alt="i모양 이미지" />
    </div>
    <p>41.2°C 🙂</p>
    <div>
      <img src="../../images/profile/Polygon.png" alt="아래 방향 화살표" />
      <p>첫 온도 36.5°C</p>
    </div>
		<progress value="41.2" max="100"></progress>
  </div>
  
  <dl>
    <div>
      <dt>
        <img src="../../images/profile/heart.png" alt="" />
        받은 좋아요 100%
      </dt>
      <dd>
        11개 중 11명이 만족
      </dd>
    </div>
    <div>
      <dt>
        <img src="../../images/profile/speech.png" alt="" />
        응답률 -%
      </dt>
      <dd>
        표시될 만큼 충분히 채팅하지 않았어요
      </dd>
    </div>
  </dl>

  <ul>
    <li><a href="">활동배지 10개</a><img src="../../images/profile/direction.png" alt="" /></li>
    <li><a href="">판매상품 3개</a><img src="../../images/profile/direction.png" alt="" /></li>
    <li><a href="">받은 매너 평가</a><img src="../../images/profile/direction.png" alt="" /></li>
        
       
              <li><img src="../../images/profile/people.png" alt="" /><span>10</span>시간 약속을 잘 지켜요.</li>
              <li><img src="../../images/profile/people.png" alt="" /><span>9</span>친절하고 매너가 좋아요</li>
              <li><img src="../../images/profile/people.png" alt="" /><span>8</span>제가 있는 곳까지 와서 거래했어요.</li>
   

    <li><a href="">받은 거래 후기</a><img src="../../images/profile/direction.png" alt="" /></li>
  </ul>

  <div>
     <a href="">
      <img src="../../images/profile/review-user.png" alt="으갸갸갹 구매자 사진" />
     </a>
     <a href=""><h3>으갸갸갹</h3></a>
     <dl>
      <dt class="">사용자 유형</dt>
      <dd>구매자</dd>
      <dt class="">설정된 동네</dt>
      <dd>인천광역시 계양구</dd>
      <dt class="">리뷰 남긴 시기</dt>
      <dd>4개월 전</dd>
    </dl>
    <p>감사감사 감사합니다</p>
    <button type="button" aria-label="options">
    </button>
  </div>
  <ul class="link__list">
    <li><a class="" href="">보관질문</a></li>
    <li><a class="" href="">설정</a></li>
    <li>><a class="" href="">지식 IN 공식 블로그</a></li>
    <li><a class="" href="">서비스 정보</a></li>
    <li>><a class="" href="">공지사항</a></li>
    <li><a class="" href="">로그아웃 kimchchi</a></li>
  </ul>

</body>
</html>