<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profilecard</title>
  <link rel="stylesheet" href="profilecard.css" />
</head>
<body>
  
  <section class="user-profilecard">
    <!-- 프로필 수정  -->
    <div class="user-edit">
      <p href="#" class="user-edit__text">프로필수정</p>
      <a href="#" class="user-edit__icon__img">
        <img src="../../images/profile/close.png" alt="엑스 표시 아이콘"
        class="user-edit__icon__img"/>
      </a>
    </div>
  
    <div class="profilecard">
      <!-- 프로필카드 제목 -->
      <div class="profilecard__title">
        <h2 class="profilecard__title__text">프로필카드</h2>
        <img class="profilecard__title__img" src="../../images/profile/information.png" alt="알파벳 아이 모양의 아이콘" />
      </div>
      <!-- 프로필 카드 아이디 박스 -->
      <div class="profilecard__profile">
        <div class="profilecard__profile__id">
          <h4 class="profilecard__profile__id-name">EUID***</h4>
          <span class="profilecard__profile__id-number">4기</span>
        </div>
        <img class="profilecard__profile__img" src="../../images/profile/profilephoto.png" alt="사용자 프로필 사진" />
      </div>
  
  
     <div class="profilecard__basicInfo">
       <div class="basicInfo__title">
         <h4 class="basicInfo__title__text">기본 정보</h4>
         <a href="" class="basicInfo__title__edit">수정하기</a></dd>
       </div>
  
       <dl class="profilecard__infoList">
          <div href="" class="basicInfo__photo">
                  <dt class="basicInfo__photo__text">프로필 사진</dt>
                  <dd>
                    <img src="../../images/profile/profilephoto.png" alt="사용자 프로필 사진"
                    class="basicInfo__photo__img"/>
                  </dd>
          </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">이름(별명)</dt>
                  <dd class="basicInfo___content____text basicInfo-id">EUID***</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">하는일</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">프로필 키워드</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">성별</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">연령</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">회사</h6>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">학교</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">학교</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
           
                <div href="" class="basicInfo___content">
                  <dt href="" class="basicInfo___content___title">자격</dt>
                  <dd class="basicInfo___content____text">미입력</dd>
                </div>
       </dl>
  
    </div>

    

<div class="profilecard___add">
  
      <div class="profilecard___addInfo">
        <div class="addInfo___title">
          <h4 class="addInfo___title___text">추가 정보</h4>
          <a href="" class="addInfo___title___edit">수정하기</a></dd>
        </div>
        
        <dl class="profilecard__infoList">
          <div href="" class="basicInfo___content">
            <dt href="" class="basicInfo___content___title">소개</dt>
            <dd class="basicInfo___content____text">미입력</dd>
          </div>
          <div href="" class="basicInfo___content">
            <dt href="" class="basicInfo___content___title">연관 링크</dt>
            <dd class="basicInfo___content____text">미입력</dd>
          </div>
          <div href="" class="basicInfo___content">
            <dt href="" class="basicInfo___content___title">활동 분야</dt>
            <dd class="basicInfo___content____text">미입력</dd>
          </div>
          <div href="" class="basicInfo___content last__content">
            <dt href="" class="basicInfo___content___title">업체 정보</dt>
            <dd class="basicInfo___content____text">미입력</dd>
          </div>
        </dl>
</div>








  </section>



</body>
</html>